.DS_Store
KE_env
data
/Users/nemaaa/github/Research-KalmarEnergy/KE_Overview_Viz.ipynb

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py
*.pdf